:root{         
	           #e1efff
	          #afcafc
	         #192028
	         #12191f

	         #00ff04
	         #05a0fe
	         
	         #ff7304
	         #ff0404


	--liter: #34353a;
	--lite: #202123;
	--dak: #141416;
}