.color-1 {color: #00ff04;}
.color-2 {color: #afcafc;}
.color-3 {color: #e1efff;}
.color-4 {color: #192028;}
.color-5 {color: #d5d3d0;}
.color-6 {color: #12191f;}


:root{
	--liter: #34353a;
	--lite: #202123;
	--dak: #141416;
}